---
layout: default
---
<div class="home">
	<section class="site-header">
		<h1 class="smallcap"><a class="site-title" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a></h1>
		<!-- {% include nav.html %} -->
		{% include intro.html %}
	</section>
	<section>
		<ul class="post-list">
			{% for post in site.posts %}
			<li>
				{% if post.tags contains 'project' %}
					<b style="color:#e58e26"> project/ </b>
				{% endif %}

				{% if post.tags contains 'strategy' %}
					<b style="color:#a37501"> strategy/ </b>
				{% endif %}
				
				{% if post.tags contains 'algo' %}
					<b style="color:#b71540"> algo/ </b>
				{% endif %}

				{% if post.tags contains 'iot' %}
					<b style="color:#b100de"> iot/ </b>
				{% endif %}

				{% if post.tags contains 'video' %}
					<b style="color:#67a4ff"> video/ </b>
				{% endif %}
				
				<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}"> {{ post.title }} 
					{% if post.tags contains 'wip' %}
						🚧
					{% endif %}
				</a> 
				<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
			</li>
			{% endfor %}
		</ul>
	</section>
</div>
